<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <TestWinForms.Properties.Settings>
        <setting name="SQLiteConnectionString" serializeAs="String">
          <value>Data Source=..\..\..\..\DB\ML.AccessControl.db;Pooling=true;FailIfMissing=true</value>
        </setting>
        <setting name="SQLServerConnectionString" serializeAs="String">
          <value>Data Source=localhost\SQL2008;Integrated Security=SSPI;Database=ML.AccessControl;</value>
        </setting>
        <setting name="SQLiteDALType" serializeAs="String">
          <value>ML.AccessControl.DAL.SQLite.DBFactory, ML.AccessControl.DAL.SQLite</value>
        </setting>
        <setting name="SQLServerDALType" serializeAs="String">
          <value>ML.AccessControl.DAL.SQLServer.DBFactory, ML.AccessControl.DAL.SQLServer</value>
        </setting>
      </TestWinForms.Properties.Settings>
    </userSettings>
</configuration>